body {
  overflow: hidden;
}

canvas {
  display:block;
  background-color: #3366CC;
}


.startMenu{
  display:flex;
  align-items:center;
  justify-content: center;

  position: absolute;
  background-color: rgba(233, 233, 233, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.text-center{ text-align: center; }


h1 {
  color: #CEF0D4;
  font-family: 'Rouge Script', cursive;
  font-size: 130px;
  font-weight: normal;
  line-height: 48px;
  margin: 0 0 50px;
  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
}


input[type=text], select {
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.button {
  background: linear-gradient(#eee, #e2e2e2);
  border: solid 1px #d0d0d0;
  border-bottom: solid 3px #b2b1b1;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px #f5f5f5;
  color: #555;
  display: inline-block;
  font: bold 12px Arial, Helvetica, Clean, sans-serif;
  margin: 0 25px 25px 0;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #fafafa;
}


.button.crisp {
  background: linear-gradient(#c38b66, #9d6741);
  border: solid 1px #422213;
  border-bottom: solid 3px #33180d;
  box-shadow: inset 0 0 0 1px #b98c62;
  color: #fff;
  text-shadow: 0 1px 0 #7b502e;
}

.button.crisp:hover {
  background: linear-gradient(#9d6741, #c38b66);
  border: solid 1px #422213;
  border-bottom: solid 3px #33180d;
  box-shadow: inset 0 0 0 1px #b98c62;
}

.button.crisp:active {
  background: linear-gradient(#9d6741, #c38b66);
  border: solid 1px #422213;
  box-shadow: inset 0 10px 15px 0 #7b502e;
}

.overlay{
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  pointer-events: none;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}

.resources{
  display:flex;
  flex-direction: column;
  margin-top:10px;
  margin-left:10px;
  max-width: 150px;
}

img{
  max-width:100%; 
}

.ui-element{
	background-color: rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 18px;
}

#building{
  margin-left:10px;
  margin-top:10px;
  max-width: 100px;
}

#canvas-map{
	position: absolute;
	bottom: 10px;
	left: 10px;
	display: inline-block;
	pointer-events: all;
	background-color: rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}